header {
  padding: 77px 24px 90px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  margin-left: 26.52px;
}
.header__logo {
  display: block;
  width: 140px;
  margin-left: 38px;
  margin-top: 13px;
  margin-right: 183px;
}
.header__logo-image {
  width: 100%;
}
.header__link {
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 3px;
}
.header__links-list-item {
  list-style-type: circle;
  margin-top: 16px;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  align-items: center;
}
.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}
.address {
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 3.5px;
}
.header__address {
  font-style: normal;
  margin-top: 19px;
  margin-right: 54px;
  margin-bottom: 4px;
  width:210px ;
}
.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 179px;
  position: relative;
  padding-top: 165px;
}
.overlay {
  background-color: rgb(0 0 0 / 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.cover__title {
  display: flex;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 3;
  letter-spacing: 30px;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.remove-spacing {
  letter-spacing: initial;
}
.aligned-text {
  margin-left: 48px;
  display: flex;
  justify-content: flex-start;
}
.aligned-text_center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.aligned-text_right {
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.cover__description {
  margin-top: 127px;
  display: flex;
  gap: 79px;
  justify-content: center;
}
.cover__description-text {
  display: flex;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 17.7px;
  font-size: 22px;
  line-height: 28px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: 78px;
  margin-bottom: 51px;
  position: relative;
  z-index: 4;
}
.bet-button {
  text-transform: uppercase;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid white;
  font-size: 22px;
  padding: 12px 32px 11px 31px;
  margin-right: 50px;
  margin-bottom: 51px;
  cursor: pointer;
  color: white;
  position: relative;
  z-index: 4;
  outline: none;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}
.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots {
  margin-left: 22px;
  margin-right: 24px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-link {
  display: block;
  text-decoration: none;
  position: relative;
}
.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  line-height: 26.4px;
  color: white;
  max-width: 334px;
  text-align: left;
  position: relative;
  z-index: 2;
  text-underline-offset: 3.3px;
}
.card__text {
  font-size: 20px;
  line-height: 24px;
  color: white;
  max-width: 334px;
  text-align: left;
  position: relative;
  z-index: 2;
}
.lots__card-list-item {
  list-style-type: none;
  margin-bottom: 30px;
  
}
.card {
  position: relative;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 563px;
  width: 334px;
  background-position: center;
  background-size: cover;
}
.lots__look-more-link {
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: underline;
  text-underline-offset: 4.2px;
  margin-left: 40px;
}
.about {
  padding: 171px 24px 0px 24px;
}
.about__column {
  display: grid;
  grid-template-columns: 336px 1fr;
  gap: 10px 21px;
}
.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 46px;
  margin-top: 12px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  display: flex;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 24px;
}
.about__text {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 24px;
}
footer {
  padding: 177px 48px 88px 50px;
  display: flex;
  justify-content: space-between;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
}
.footer__social-link {
  list-style-type: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
.footer__menu {
  text-align: center;
  margin-left: 40px;
}
.footer__menu-list-item {
  list-style-type: none;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4.2px;
}
.footer__address {
  font-size: 18px;
  text-underline-offset: 4.2px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-style: normal;
  width:210px;
}
.footer__menu-link_active {
  text-decoration: none;
  list-style-type: none;
}
